<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enactus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrivacyPolicy"></activity>
        <activity android:name=".TrackActivities.TrackWaterActivity" />
        <activity
            android:name=".IntroSliderTextViewUpdate.IS_TV_Update5"
            android:theme="@style/IntroSliderUpdateTV" />
        <activity
            android:name=".IntroSliderTextViewUpdate.IS_TV_Update4"
            android:theme="@style/IntroSliderUpdateTV" />
        <activity
            android:name=".IntroSliderTextViewUpdate.IS_TV_Update3"
            android:theme="@style/IntroSliderUpdateTV" />
        <activity
            android:name=".IntroSliderTextViewUpdate.IS_TV_Update2"
            android:theme="@style/IntroSliderUpdateTV" />
        <activity
            android:name=".IntroSliderTextViewUpdate.IntroSliderTV_update_main"
            android:theme="@style/IntroSliderUpdateTV">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".IntroSlider.IntroSlider"
            android:theme="@style/IntroSlider" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Developer"
            android:screenOrientation="portrait"
            android:theme="@style/Developer" />
        <activity
            android:name=".TrackActivities.TrackPeriodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackActivities.TrackActivityOthers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutEnactus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentWaterSettings"
            android:screenOrientation="portrait" />
        <activity android:name=".WaterTips" />
        <activity
            android:name=".LoginSignUp.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginSignUp.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".AlertReciever" />
        <receiver android:name=".ResetValueMidnight" />
    </application>

</manifest>